# Configuration template for the datacatalogue running inside a Docker container


### EMBEDDED SERVER CONFIGURATION ###
server:
  servlet:
    contextPath: "/services"
  port: 8090
  forward-headers-strategy: native

### AUTHENTICATION ###
authentication:
  enabled: 0
  domain_expert: "DC_DOMAIN_EXPERT"


### LOG LEVELS ###
logging:
  level:
    root: {{ default .Env.LOG_LEVEL_FRAMEWORK "ERROR" }}
    eu:
      hbp: {{ default .Env.LOG_LEVEL "INFO" }}


### DATABASE CONFIGURATION ###
spring:
  datasource:
    url: {{ default .Env.CATALOGUE_DB_URL "jdbc:postgresql://172.17.0.1:5432/postgres" }}
    username: {{ default .Env.CATALOGUE_DB_USER "postgres" }}
    password: {{ default .Env.CATALOGUE_DB_PASSWORD "test" }}
    driver-class-name: org.postgresql.Driver
  data:
    jpa:
      repositories:
        bootstrap-mode: default
  jpa:
    hibernate:
      ddl-auto: validate
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  jackson:
    default-property-inclusion: non_null
  security:
    oauth2:
      client:
        registration:
          keycloak:
            authorization-grant-type: authorization_code
            client-id: {{ .Env.KEYCLOAK_CLIENT_ID }}
            client-secret: {{ .Env.KEYCLOAK_CLIENT_SECRET }}
            provider: keycloak
            scope: openid
        provider:
          keycloak:
            issuer-uri: {{ .Env.KEYCLOAK_AUTH_URL }}realms/{{ .Env.KEYCLOAK_REALM }}
            user-name-attribute: preferred_username

### EXTERNAL SERVICES ###
services:
  data_quality_tools:
    json2excel: {{ .Env.DATA_QUALITY_TOOL_URL }}/json-to-excel
    excel2json: {{ .Env.DATA_QUALITY_TOOL_URL }}/excel-to-json
